<div class="container mt-5">
  <fieldset>
    <legend>What have you done?</legend>

    <div>
      <input type="radio" id="huey" name="drone" value="huey"
              checked>
      <label for="huey">Running</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="drone" value="dewey">
      <label for="dewey">Yoga</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Reading</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Writing</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Meditation</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Workout</label>
    </div>
  </fieldset>
</div>