<div class='container mt-3'><%= link_to 'New Entry', new_entry_path %>
  <div class="smallme">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Select a tracker</option>
      <option value="1">Food</option>
      <option value="2">Finances</option>
      <option value="3">Mood</option>
      <option value="3">Habits</option>
    </select>
  </div>
</div>

<div class="container mt-5 text-center">
  <h3>What have you done today?</h3>


  <%= month_calendar(events: @entry) do |date, entries| %>
    <div class="day">
      <%= date.day %>
    </div>
    <% entries.each do |entry| %>
      <div class="card-header">
        <div class="card-title">
          <%= link_to entry.title, entry %>
        </div>
      </div>
    <% end %>
  <% end%>
</div>